

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <div class="navbar-brand">
                Edit Website
            </div>
            <p class="navbar-text pull-right">
                <button form="webEditForm" type="submit" ng-click="model.updateWebsite(model.website._id, model.website)" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </button>
            </p>
        </div>
    </div>
</nav>

    <div class="container main-container">

        <form id="webEditForm" name="webEditForm" novalidate>
            <span class="alert alert-danger" ng-show="webEditForm.$submitted && webEditForm.name.$invalid">
                name required
            </span>
            <div class="form-group">
                <label for="website-name">Website Name</label>
                <input name="name"
                       type="text"
                       class="form-control"
                       id="website-name"
                       placeholder="Google"
                       ng-model="model.website.name" required/>
            </div>
            <div class="form-group">
                <label for="website-description">Website Description</label>
                <textarea rows="4"
                          id="website-description"
                          class="form-control"
                          placeholder="Description"
                          ng-model="model.website.description"></textarea>
            </div>
        </form>

        <a class="btn btn-danger  btn-block"
           ng-click="model.deleteWebsite(model.website._id)">Delete</a>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
