
<div class="ui-state-default">
    <div class="jga-widget-tool">
        <a href="#/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widgetId}}">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="glyphicon glyphicon-align-justify"></span>
    </div>
    <div ng-switch="widgetType">
        <div ng-switch-when="HEADER" ng-switch="{{widgetSize}}">
            <h1 ng-switch-when="1">{{widgetText}}</h1>
            <h2 ng-switch-when="2">{{widgetText}}</h2>
            <h3 ng-switch-when="3">{{widgetText}}</h3>
            <h4 ng-switch-when="4">{{widgetText}}</h4>
            <h5 ng-switch-when="5">{{widgetText}}</h5>
            <h6 ng-switch-when="6">{{widgetText}}</h6>
        </div>
        <div ng-switch-when="HTML">
            <div ng-bind-html="getSafeHtml(widget)"></div>
        </div>
        <div ng-switch-when="IMAGE">
            <img ng-src="{{widgetUrl}}" width="{{widgetWidth}}"/>
        </div>
        <div ng-switch-when="YOUTUBE" class="youtube-widget">
            <iframe width="{{widgetWidth}}" ng-src="getSafeUrl(widget)" frameborder="0" allowfullscreen></iframe>
        </div>
        <div ng-switch-when="TEXT">
            <div ng-if="widget.formatted" text-angular ta-toolbar="..."></div>
            <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                   placeholder="{{widget.textInput.placeholder}}" class="form-control"/>
            <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                      rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                      class="form-control">{{widget.text}}</textarea>
        </div>
        <div ng-switch-default>
            Unable to render widget
        </div>
    </div>
</div>
