
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <div class="navbar-brand">
                Edit Page
            </div>
            <p class="navbar-text pull-right">
                <a ng-click="model.updatePage(model.pageId, vm.page)" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

    <div class="container">

        <form>
            <div class="form-group">
                <label for="website-name">Name</label>
                <input type="text"
                       class="form-control"
                       id="website-name"
                       placeholder="Google"
                       ng-model="model.page.name">
            </div>
            <div class="form-group">
                <label for="website-description">Title</label>
                <input type="text"
                       class="form-control"
                       id="website-name"
                       placeholder="Page Title"
                       ng-model="model.page.title">
            </div>
        </form>

        <a class="btn btn-danger btn-block"
           ng-click="model.deletePage(model.pageId)">Delete</a>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
