

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

    <div class="container main-container widget-container">
        <div id="sortable" ng-repeat="widget in model.widgets" class="jga-widget">
            <wam-sortable
                user-id= "model.userId"
                website-id= "model.websiteId"
                page-id= "model.pageId"
                widget-id= "widget._id"
                widget-type= "widget.widgetType"
                widget-size= "widget.size"
                widget-text= "widget.text"
                widget-url= "widget.url"
                widget-width= "widget.width"
                get-safe-url= "model.getSafeUrl(widget)"
                get-safe-html= "model.getSafeHtml(widget)"
                widget="widget"
            ></wam-sortable>
        </div>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
