

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

    <div class="container main-container">
        <ul class="list-group">
            <li class="list-group-item">
                <a ng-click="model.createWidget(model.pageId, 'HEADER')">
                    Header
                </a>
            </li>
            <li class="list-group-item">
                <a ng-click="model.createWidget(model.pageId, 'LABEL')">
                    Label
                </a>
            </li>
            <li class="list-group-item">
                <a ng-click="model.createWidget(model.pageId, 'HTML')">
                    HTML
                </a>
            </li>
            <li class="list-group-item">
                <a ng-click="model.createWidget(model.pageId, 'TEXT')">
                    Text Input
                </a>
            </li>
            <li class="list-group-item">
                <a ng-click="model.createWidget(model.pageId, 'LINK')">
                    Link
                </a>
            </li>
            <li class="list-group-item">
                <a ng-click="model.createWidget(model.pageId, 'BUTTON')">
                    Button
                </a>
            </li>
            <li class="list-group-item">
                <a ng-click="model.createWidget(model.pageId, 'IMAGE')">
                    Image
                </a>
            </li>
            <li class="list-group-item">
                <a ng-click="model.createWidget(model.pageId, 'YOUTUBE')">
                    YouTube
                </a>
            </li>
            <li class="list-group-item">
                <a ng-click="model.createWidget(model.pageId, 'DATATABLE')">
                    Data Table
                </a>
            </li>
            <li class="list-group-item">
                <a ng-click="model.createWidget(model.pageId, 'REPEATER')">
                    Repeater
                </a>
            </li>
        </ul>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
