

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <button form="widgetEditForm" type="submit" ng-click="model.updateWidget(model.widget)" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </button>
            </p>
        </div>
    </div>
</nav>

    <div class="container main-container">

        <div ng-switch="model.widget.widgetType">
            <div ng-switch-when="HEADER" ng-switch="widget.size">
                <form id="widgetEditForm" name="widgetEditForm" novalidate>
                  <div class="form-group">
                      <span class="alert alert-danger" ng-show="widgetEditForm.$submitted && widgetEditForm.name.$invalid">
                        name required
                      </span>
                      <label for="widget-name">Name</label>
                      <input type="text"
                             name="name"
                             class="form-control"
                             id="website-name"
                             value="Blog Post"
                             placeholder="Google"
                             ng-model="model.widget.name" required>
                  </div>
                  <div class="form-group">
                      <label for="widget-description">Title</label>
                      <input type="text"
                             class="form-control"
                             id="website-name"
                             placeholder="Page Title"
                             ng-model="model.widget.text">
                  </div>
                  <div class="form-group">
                      <label for="widget-description">size (1-6)</label>
                      <input type="number"
                             class="form-control"
                             id="header-size"
                             placeholder="1"
                             ng-model="model.widget.size">
                  </div>
              </form>
            </div>
            <div ng-switch-when="IMAGE">
              <form id="widgetEditForm" name="widgetEditForm" novalidate>
                <div class="form-group">
                    <span class="alert alert-danger" ng-show="widgetEditForm.$submitted && widgetEditForm.name.$invalid">
                        name required
                    </span>
                    <label for="website-name">Name</label>
                    <input type="text"
                           name="name"
                           class="form-control"
                           id="website-name"
                           ng-model="model.widget.name" required>
                </div>
                <div class="form-group">
                    <label for="website-description">Text</label>
                    <input type="text"
                           class="form-control"
                           id="website-name"
                           ng-model="model.widget.text">
                </div>
                <div class="form-group">
                    <label for="website-description">Url</label>
                    <input type="text"
                           class="form-control"
                           value="https://www.facebook.com/nytimes/videos/10150812214919999/"
                           ng-model="model.widget.url">
                </div>
                <div class="form-group">
                    <label for="website-description">Width</label>
                    <input type="text"
                           class="form-control"
                           id="website-name"
                           value="100%"
                           ng-model="model.widget.width">
                </div>
              </form>
              <form action="/api/upload"  method="post" enctype="multipart/form-data">
                  <input  name="myFile"   type="file" class="form-control"/>
                  <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
                  <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
                  <input  name="userId" value="{{model.userId}}"   style="display: none"/>
                  <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
                  <input  name="pageId" value="{{model.pageId}}"   style="display: none"/>
                  <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
              </form>
              <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widget._id}}/flickr">
                 <button type="submit" class="btn btn-block btn-primary">Flickr Search</button>
              </a>
            </div>
            <div ng-switch-when="YOUTUBE">
                <form id="widgetEditForm" name="widgetEditForm" novalidate>
                  <div class="form-group">
                      <span class="alert alert-danger" ng-show="widgetEditForm.$submitted && widgetEditForm.name.$invalid">
                          name required
                      </span>
                      <label for="website-name">Name</label>
                      <input name="name"
                             type="text"
                             class="form-control"
                             id="website-name"
                             ng-model="model.widget.name" required>
                  </div>
                  <div class="form-group">
                      <label for="website-description">Text</label>
                      <input type="text"
                             class="form-control"
                             id="website-name"
                             ng-model="model.widget.text">
                  </div>
                  <div class="form-group">
                      <label for="website-description">Url</label>
                      <input type="text"
                             class="form-control"
                             value="https://www.youtube.com/embed/aD4grQXZPfg"
                             ng-model="model.widget.url">
                  </div>
                  <div class="form-group">
                      <label for="website-description">Width</label>
                      <input type="text"
                             class="form-control"
                             id="website-name"
                             value="100%"
                             ng-model="model.widget.width">
                  </div>
              </form>
            </div>
            <div ng-switch-when="HTML">
              <div ng-model="model.widget.text"
                 text-angular
                 ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                    ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                    ['indent','outdent'],['html']]">
              </div>
            </div>
            <div ng-switch-when="TEXT">
                Text
                <input ng-model="model.widget.text" class="form-control"/>
                Rows
                <input ng-model="model.widget.rows" class="form-control" type="number"/>
                Placeholder
                <input ng-model="model.widget.placeholder" class="form-control"/>
                Formatted
                <input ng-model="model.widget.formatted" type="checkbox"/>
            </div>
            <div ng-switch-default>
                Unable to render widget
            </div>
        </div>

        <a class="btn btn-danger  btn-block"
           ng-click="model.deleteWidget(model.widget._id)">Delete</a>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
